.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;
  pointer-events: none;
  perspective: 1200px;
  z-index: 10;
}

.tilted-system {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
}

.angled-orbit {
  transform: rotateX(65deg) rotateZ(10deg) rotateY(-20deg);
  transform-style: preserve-3d;
}

.circle-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  translate: -50% -50%;
  opacity: 0.5;
}

.layer-center {
  z-index: 5;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.4);
}
.layer-phone-quan {
  z-index: 4;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.layer-d2 {
  z-index: 3;
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.4;
}
.layer-d {
  z-index: 2;
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0.5;
}
.layer-niequan {
  z-index: 1;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0.4;
}
.layer-top-offset {
  z-index: 6;
  transform: translate(-30%, -90%) scale(1.1);
  opacity: 0.5;
}

.orbit-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%) translateX(-40px) translateY(-30px);
  transform-origin: center center;
  z-index: 7;
}

.orbit-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
}

.icon-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 255, 255, 0.25) 0%,
    transparent 60%
  );
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.3), 0 0 4px rgba(0, 255, 255, 0.2),
    inset 0 0 2px rgba(255, 255, 255, 0.3);
  filter: blur(4px);
  z-index: -1;
}

.orbit-icon img {
  width: 68px;
  height: 68px;
  object-fit: contain;
  border-radius: 50%;
  background: rgba(0, 255, 255, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.4),
    0 0 6px rgba(0, 255, 255, 0.637);
  opacity: 1;
  pointer-events: auto;
  backface-visibility: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background 0.4s ease;
}

.orbit-icon img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 12px rgb(0, 255, 255);
  background: rgba(0, 255, 255, 0.15);
}
